.add-form, .search-form{
  display: flex;
  margin-bottom: 1.5rem;
  gap: 10px
}

input[type="text"]{
  flex-grow: 1;
  height: 50px;
  border-radius: 8px;
}

button{
  background-color: white;
  border-radius: 6px;
  color: rgb(17, 138, 214);
}