.item-card {
    background-color: white;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}
.item-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.item-card img {
    max-width: 100%; 
    height: 150px;
    object-fit: contain;
    border-radius: 4px; 
    margin-bottom: 10px; 
}

.item-card p { 
    color: #3b4147;  
    font-size: 1.1em; 
    margin: 10px 0;
}

.details-link {
    display: inline-block;
    background-color: #28a745;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    margin-top: 10px;
}

.details-link:hover { 
    background-color: #1e7e34; 
    text-decoration: none; 
}